<head>
  <style>
      table {border: 0.5mm solid black; border-collapse:collapse; text-align: center; width: 100%;}
      th, td {padding: 2mm; border: 0.5mm solid black;}
      .main {border: 1mm solid black; width: 1280px; padding: 10mm;
        margin: auto;}
      .time {background-color: black; color: white; font-weight: bold;}
  </style>
</head>

<body>
<div class="main" style="font-family:Verdana">
<p><b><big>Odjazdy</big></b> / Departures / Відправлення</p>
<p><h1>{{station_name}}</h1></p>
{% block content %}
  <table id="data" class="table table-striped" border="1">
    <thead>
      <tr>
        <th style="width: 20%;">Kierunek <br><i><small>Direction</small></i></th>
        <th style="background-color: #ffe600;">Odjazdy<br><i><small>Departures</small></i></th>
      </tr>
    </thead>
    <tbody>
      {% for relation in data %}
<!--        -->
        <tr>
          <td ><b><big><big>{{ relation }}</big></big></b></td>
          <td style="background-color: #ffe600;">
            <div style="text-align: left;">
            {% for route in data[relation] %}
              {% if route[1] != 'local' %}<span style="color: red;">{% else %}<span>{% endif %}
                <b>{{route[0].replace(' ','\u00A0')}}</b>
              {% if route[3] is not none %} {{route[3]+1}}) {% endif %}
              <small>
                {{route[2].replace(' ','\u00A0')}}
              </small>
            </span></span>
              {% if not loop.last %}, {% endif %}
            {% endfor %} </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

<div class="legend">
  <br>
  <h3>Objaśnienia skrótów:</h3>
  {% for date in dates %}
    {{dates.index(date)+1}}) kursuje {{date[0]}} - {{date[1]}}<br>
  {% endfor %}
</div>

</div>
</body>