<head>
  <style>
      table {border: 0.5mm solid black; border-collapse:collapse; text-align: center; width: 100%;}
      th, td {padding: 2mm; border: 0.5mm solid black;}
      .main {border: 1mm solid black; width: 1280px; padding: 10mm;
        margin: auto;}
      .time {background-color: black; color: white; font-weight: bold;}
  </style>
</head>

<body>
<div class="main" style="background-color: #ffe600; font-family:Verdana">
  <table id="head" style="border: none;">
    <tr>
      <td style="text-align: left; border: none;">
        <p><b><big>Odjazdy</big></b> / Departures / Відправлення</p>
        <p><h1>{{station_name}}</h1></p>
      </td>
      <td style="text-align: right; border: none;">
        <div style="color: red;"><h1>{{date_period[0].strftime("%d.%m.%Y")}} - {{date_period[1].strftime("%d.%m.%Y")}}</h1></div>
      </td>
    </tr>
  </table>

{% block content %}
  <table id="data" class="table table-striped" border="1">
    <thead style="background-color: rgba(0,0,0,0.2);">
      <tr>
        <th style="width: 15%;">Godzina odjazdu <br><i><small>Departure time</small></i></th>
        <!--        #TODO in future - platform/track support-->
<!--        <th style="width: 5%;">Peron<br>Tor<br><i><small><small>Platform<br>Track</small></small></i></th>-->
        <th style="width: 10%;">Pociąg<br><i><small>Train</small></i></th>
        <th>Godziny przyjazdów do stacji pośrednich<br><i><small>Arrivals at intermediate stops</small></i></th>
        <th style="width: 20%;">Godzina przyjazdu do stacji docelowej<br><i><small>Arrival at destination (station)</small></i></th>
      </tr>
    </thead>
    <tbody>
      {% for route in routes %}
        {% if route['type'] != 'local' %}<tr style="color: red;">{% else %}<tr>{% endif %}
        
          <td style="background-color: rgba(0,0,0,0.2);"><b><big><big>{{ route['departure_time'] }}</big></big></b></td>
          <!--        #TODO in future - platform/track support-->
<!--          <td style="background-color: rgba(0,0,0,0.2);"><b> </b><br> </td>-->
          <td><small>{{ route['train_number'] }}<br>{{route['train_name']}}<br>
          </small></td>
          <td colspan="2">
            <div style="text-align: left;"><small>
            {% for stop in route['intermediate_stops'] %}
                {{stop['station'].replace(' ','\u00A0')}}&nbsp;{{stop['arrival_time']}}{% if not loop.last %}, {% endif %}
            {% endfor %}</small></div>
          <div style="text-align: right;"><b>{{ route['destination']['station'].replace(' ','\u00A0') }}&nbsp;{{route['destination']['arrival_time']}}</b></div>
            {% if route['date_period'] %}<div style="text-align: left;"><small><small><i>Kursuje: {{ route['date_period'][0].strftime("%d.%m.%Y") }} - {{ route['date_period'][1].strftime("%d.%m.%Y") }}</i></small></small></div>{% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

<div class="legend">
  <h3>Legenda:</h3>
  <br>
  1 - 1 klasa / First class seats / 1 клас<br>
  2 - 2 klasa / Second class seats / 2 клас<br>
  R - rezerwacja miejsc / seat booking / бронювання місць<br>
  ➀ - w poniedziałki / Mondays / по понеділках<br>
  ➁ - we wtorki / Tuesdays / по вівторках<br>
  ➂ - w środy / Wednesdays / по середах<br>
  ➃ - w czwartki / Thursdays / по четвергах<br>
  ➄ - w piątki / Fridays / по п'ятницях<br>
  ➅ - w soboty / Saturdays / по суботах<br>
  ➆ - w niedziele / Sundays / по неділях<br>
</div>

</div>
</body>